#pane {
    -fx-background-image: url("../../../../resources/images/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 300 275;
    -fx-background-position: center center;
}